<div>

    <div class="project_logo_name">
        <div>
            <img class="img_logo" src="https://ccbncaassoc.wliinc22.com/external/wcpages/wcwebcontent/webcontentpage.aspx?contentid=1457" alt="">
        </div>
        <div class="project_name">
            AutoTrader
        </div>
    </div>
    
    <div class="buttons_tab bg_header">
        <ul>
            <li  routerLink="/rulemonitor" routerLinkActive="bg_ruleitems"><a>Rule Monitor</a></li>
            <li  routerLink="/ruleconfig" routerLinkActive="bg_ruleitems">Rule Config</li>
        </ul>
        
    </div>
</div>

<div class="row">
    <div class="col">
        <div class =" input-group" style="border: 1px solid rgba(0,0,0,0.125);">
            <div class="input-group-prepend">
                <span class="input-group-text border-left-0 border-bottom-0 border-top-0" style="cursor: pointer;" (click)="openDialog3()">
                    <i class="fa fa-search"></i>
                </span>
                
            </div>
            <input type="text"  class="form-control " readonly>
            <div class="input-group-append">
                <span class="input-group-text border-right-0 border-bottom-0 border-top-0" style="cursor: pointer;" title="add"><i class="fa fa-plus"></i></span>
            </div>
        </div>
    </div>
</div>

