.img_logo{
    height: 46px;
}

.project_logo_name{
    display: flex;
}

.project_name{
    font-size: 24px;
    color: #343f43;
    font-weight: 300;
    padding-left: 20px;
    margin-top: 10px;
}
.bg_header{
    font-size: 14px;
    min-height: 38px;
}
.bg_header>ul{
    display: flex;
    /* border: 1px solid red; */
    /* background-color: #3e50b4; */
    background-color: #2e75b6;
    color:  white;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    

    
}
.bg_header li{
    padding: 0.6em 1em;
    cursor: pointer;
}
.bg_ruleitems{
    background-color: #2f5597;
}